h1 {
  margin-left: 120px;
  color: red;
}
p{
  font-size: 15px;
  font-family: monospace;
}
.definition{
  margin-right: 30px;
  margin-left: 30px;
  display: inline-block;
}
@media (min-width:320px) {
  h1{
    font-size: 12px;
    }
  p:{
     font-size: 10px;
     }
}
@media (min-width:481px) {
  h1{
    font-size: 13px;
    }
  p:{
     font-size: 11px;
     }
 }
@media (min-width:641px) {
  h1{
    font-size: 14px;
    }
  p:{
     font-size: 12px;
     }
 }
@media (min-width:961px) {
  h1{
    font-size: 15px;
    }
  p:{
     font-size: 13px;
     }
 }
@media (min-width:1025px) {
  h1{
    font-size: 16px;
    }
  p:{
     font-size: 14px;
     }
  }
@media (min-width:1281px) {
  h1{
    font-size: 18px;
    }
  p:{
     font-size: 15px;
     }
 }
